<div class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <ul>
            <li><strong>Nguyễn Phạm Thiện Dũng</strong></li>
            <li><i>University of Engineering and Technology, Vietnam National University</i></li>
            <li>Email: <span color="red">wushuc@gmail.com</span></li>
            <li><a class="btn btn-warning" href="/color/#/">Back</a></li>
        </ul>
        <br><br>
        <h4>&copy; Copyright 2015 - pexea12</h4>
    </div>
</div> <!-- container-fluid -->